.cont-header{
    width: 100%;
    height: auto;

    img{
        width: 100%;
        height: 60px;
    }

    .header-inside{
        position: relative;
        top: -53px;
        margin: 0 auto;
        width: 81%;

        img{
            width: 100px;
            height: auto;
        }
    }
}