.cont-int{
    width: 100%;
    height: auto;
    position: relative;

    .descript-int{
        font-family: 'Roboto', sans-serif;
        font-size: 13pt;
        width: 541px;
        position: absolute;
        left: calc(25% - 243px);
        top: -117px;
    }
}