.cont-int{
    width: 100%;
    height: auto;
    position: relative;
    top: -90px;

    .descript-int{
        font-family: 'Roboto', sans-serif;
        font-size: 14pt;
        width: 588px;
        margin-left: calc(25% - 193px);
    }
}