.Slab-section{
    margin-top: 100px;
    width: 100%;
    height: auto;

    .img-cont-des{
        width: 100%;
        height: 1px;
        position: absolute;

        .menor{
            width: 232px;
            position: absolute;
            left: -30px;
            top: -169px;
            z-index: 0;
        }
    
        .flor{
            width: 330px;
            position: relative;
            float: right;
            top: -131px;
            z-index: 0;
        }

    }

    .start-cont-buttom{
        margin: 50px 0;
        display: flex;
        justify-content: center;

        .start-buttom{
            width: 440px;
            height: auto;
            margin: 0 auto;
            padding: 0 100px;
            font-family: 'Bungee', cursive;
            font-size: 37px;
            line-height: 68px;
            text-decoration: none;
            color: white;
            background-color: #0101b5;
            border-radius: 150px;
            transition: 0.2s;
        }

        .start-buttom:hover{
            background-color: #ff8a98;
        }
    }

}