.cont-int{
    width: 100%;
    height: auto;
    position: relative;
    top: -108px;

    .descript-int{
        font-family: 'Roboto', sans-serif;
        font-size: 13pt;
        width: 541px;
        margin-left: calc(25% - 243px);
    }
}