.background-hero{
    width: 100%;
    height: auto;

    .cima{
        position: relative;
        top: 28px;
        left: 107px;
        margin: 0 auto;
        width: 9%;
        z-index: 1;
    }
    
    .hero-bg{
        position: relative;
        top: -93px;
        width: 100%;
        min-height: 320px;
        max-height: 660px;
        z-index: 0;
    }

    .text-hero{
        top: 82px;
        z-index: 1;
        width: 100%;
        position: absolute;
        margin: 0 auto;

        h1{
            font-family: 'Bungee', cursive;
            color: white;
            text-align: center;
            font-size: 30pt;
            line-height: 84pt;
        }

        .phero{
            font-family: 'Roboto', sans-serif;
            color: white;
            text-align: center;
            font-size: 14.7521pt;
            line-height: 24.7025pt;
            width: auto;
            margin: 0 calc(50% - 275px);
        }

        .persons{
            position: relative;
            // right: calc(50% - 480px);
            top: -22px;
            min-width: 39%;
            max-width: 40%;
            float: right;
        }
    }


}