.slab-counter{
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: rgba(199, 199, 199, 0.425);

    h2{
        font-family: 'Bungee', cursive;
        color: #ff8a98;
        text-align: left;
        font-size: 30pt;
        line-height: 84pt;
    }
}