.slab-counter{
    max-width: 1101px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 70px;
    border-radius: 42px;
    background-color: rgba(255, 255, 255, 0.425);
    box-shadow: 0px 0px 18px 0px rgb(188, 195, 214);
    position: relative;
    z-index: 10;

    h2{
        font-family: 'Bungee', cursive;
        color: #ff8a98;
        text-align: left;
        font-size: 24pt;
        line-height: 61pt;
        margin-left: calc(50% - 445px);
    }

    .slab-sect-a{
        gap: 30px;
        display: flex;
        justify-content: center;
        width: 84%;
        margin: 0 auto;
        margin-bottom: 20px;

        .linkSlab{
            text-decoration: none;
            color: black;

            .article-a1{
                width: 323px;
                height: 191px;
                border-radius: 19px;
                background-color: white;
                box-shadow: 0px 0px 18px 0px rgb(134, 188, 224);
                transition: 0.2s;
    
                .h3-slab{
                    font-family: 'Bungee', cursive;
                    color: #333333;
                    margin-left: 25px;
                }
    
                .p-slab{
                    width: 275px;
                    font-family: 'Roboto', sans-serif;
                    margin: 0 auto;
                }
    
                .icon{
                    width: 25px;
                    float: right;
                    margin-right: 30px;
                    margin-top: 10px;
                }
            }

            .article-a1:hover{
                background-color: #ff8a98;
                color: white;

                .h3-slab{
                    font-family: 'Bungee', cursive;
                    color: #ffffff;
                    margin-left: 25px;
                }
            }
        }

        .linkSlab{
            text-decoration: none;
            color: black;
            
            .article-b1{
                width: 545px;
                height: 191px;
                border-radius: 19px;
                background-color: white;
                box-shadow: 0px 0px 18px 0px rgb(134, 188, 224);
                transition: 0.2s;
    
                .h3-slab{
                    font-family: 'Bungee', cursive;
                    color: #333333;
                    margin-left: 25px;
                }
    
                .p-slab{
                    width: 495px;
                    font-family: 'Roboto', sans-serif;
                    margin: 0 auto;
                }
    
                .icon{
                    width: 25px;
                    float: right;
                    margin-right: 30px;
                    margin-top: 10px;
                }
            }

            .article-b1:hover{
                background-color: #ff8a98;
                color: white;

                .h3-slab{
                    font-family: 'Bungee', cursive;
                    color: #ffffff;
                    margin-left: 25px;
                }
            }
        }


    }

    .slab-sect-b{
        gap: 30px;
        display: flex;
        justify-content: center;
        width: 84%;
        margin: 0 auto;

        .linkSlab{
            text-decoration: none;
            color: black;

            .article-b2{
                width: 323px;
                height: 191px;
                border-radius: 19px;
                background-color: white;
                box-shadow: 0px 0px 18px 0px rgb(134, 188, 224);
                transition: 0.2s;
    
                .h3-slab{
                    font-family: 'Bungee', cursive;
                    color: #333333;
                    margin-left: 25px;
                }
    
                .p-slab{
                    width: 275px;
                    font-family: 'Roboto', sans-serif;
                    margin: 0 auto;
                }
    
                .icon{
                    width: 25px;
                    float: right;
                    margin-right: 30px;
                    margin-top: 10px;
                }
            }

            .article-b2:hover{
                background-color: #ff8a98;
                color: white;

                .h3-slab{
                    font-family: 'Bungee', cursive;
                    color: #ffffff;
                    margin-left: 25px;
                }
            }
        }

        .linkSlab{
            text-decoration: none;
            color: black;

            .article-a2{
                width: 545px;
                height: 191px;
                border-radius: 19px;
                background-color: white;
                box-shadow: 0px 0px 18px 0px rgb(134, 188, 224);
                transition: 0.2s;
    
                .h3-slab{
                    font-family: 'Bungee', cursive;
                    color: #333333;
                    margin-left: 25px;
                }
    
                .p-slab{
                    width: 495px;
                    font-family: 'Roboto', sans-serif;
                    margin: 0 auto;
                }
    
                .icon{
                    width: 25px;
                    float: right;
                    margin-right: 30px;
                    margin-top: 10px;
                }
            }

            .article-a2:hover{
                background-color: #ff8a98;
                color: white;

                .h3-slab{
                    font-family: 'Bungee', cursive;
                    color: #ffffff;
                    margin-left: 25px;
                }
            }
        }

    }
}