.intro-text-content{
    width: 81%;
    margin: 0 auto;

    h1{
        font-family: 'Bungee', cursive;
        color: #ff8a98;
        text-align: left;
        font-size: 24pt;
        line-height: 61pt;
    }

    .intro-p{
        font-family: 'Roboto', sans-serif;
        font-size: 11pt;
    }
}